<div class="container">
    <p>AGREGAR TRANSPORTE</p>
    <div class="row">
        <div class="col-sm-6">
            <form>
                <div class="mb-3">
                    <label class="form-lable">Nombre del Transporte</label>
                    <input [(ngModel)]="transporte.transporte" type="text" class="form-control" name="transporte">
                </div>
                <div class="mb-3">
                    <label class="form-lable">Placas</label>
                    <input [(ngModel)]="transporte.placas" type="text" class="form-control" name="placas">
                </div>

                <button (click)="agregar()" class="btn btn-primary">Agregar</button>

            </form>

        </div>
        <div class="col-sm-6">
          
        </div>

    </div>
</div>

